<mat-card [@changeState]="currentState">
  <mat-card-content>
    <div class="social-buttons">
      <button mat-button color="primary">
        <img class="logo-socials" src="../../../assets/logos-socials/google.svg" alt="Login with Google">
        <span>Google</span>
      </button>
    
      <button mat-button color="primary">
        <img class="logo-socials" src="../../../assets/logos-socials/facebook.svg" alt="Login with Facebook">
        <span>Facebook</span>
      </button>
    
      <button mat-button color="primary">
        <img class="logo-socials" src="../../../assets/logos-socials/twitter.svg" alt="Login with Twitter">
        <span>Twitter</span>
      </button>
    </div>    
  </mat-card-content>
</mat-card>

